h1 {
    color: rgb(63, 97, 45);
    font: 50px "lucida grande", tahoma, verdana, arial, sans-serif;
    margin: 100px 100px 100px 100px;
  }

  h2 {
    color: rgb(63, 97, 45);
    font: 20px "lucida grande", tahoma, verdana, arial, sans-serif;
    margin: 0px 100px 0px 100px;
  }

  h3 {
    color: rgb(63, 97, 45);
    font: 20px "lucida grande", tahoma, verdana, arial, sans-serif;
    margin: 50px 100px 0px 100px;
  }

body {
        background-color: rgb(244, 242, 243);
}

header {
    color: rgb(0, 0, 0);
    position: fixed;
    padding: 0px;
    text-align: center;
    font: 35px "lucida grande", tahoma, verdana, arial, sans-serif;
    z-index: 1000; 
    width: 100%; 
    background-color: rgb(244, 242, 243);
  }

  .image-container img {
    width: 300px;
    margin-top: 20px;
    height: auto;
    border-radius: 10px;
  }

  a {
    position: relative; 
    display: inline-block; 
  }

  a:hover img {
    opacity: 10; 
    filter: brightness(80%); 
  }

  a span {
    display: none; 
    position: absolute;
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    border-radius: 10px;
    z-index: 1; 
    max-width: 100%; 
    box-sizing: border-box; 
  }

  a:hover span {
    display: block;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
    background-color: #f0f0f0; 
  }

  .image-container div {
    flex: 0 0 23%; 
    margin: 1%; 
    box-sizing: border-box; 
  }